if request.method =='POST':
edit=Inventory_adjustment_items.objects.get(id=pk)
dash_details = StaffDetails.objects.get(login_details=log_details)
item=Items.objects.filter(company=dash_details.company)
allmodules= ZohoModules.objects.get(company=dash_details.company,status='New')
adjustment1=Inventory_adjustment.objects.all()
adjustment2=Inventory_adjustment_items.objects.all()
adjustments=Inventory_adjustment_items.objects.get(id=pk)           
adjustment_history_entry = Inventory_adjustment_history.objects.get(inventory_adjustment=adjustments.inventory_adjustment)

context = {
        'details': dash_details,
        'item': item,
        'allmodules': allmodules,
        'adjustment1':adjustment1,
        'adjustments':adjustments,
        'adjustment2':adjustment2,
        'adjustment3':adjustment_history_entry

}
edit3 = Inventory_adjustment_history.objects.get(inventory_adjustment=edit.inventory_adjustment)
edit2 = edit.inventory_adjustment
item=request.POST.get('item')
item1=Items.objects.get(id=item)
edit.items=item1             
edit2.Mode_of_adjustment=request.POST.get('mode')
edit2.Reason=request.POST.get('reason')
edit2.Account=request.POST.get('account')
edit2.Description=request.POST.get('description')                                               
edit.Quantity_available=request.POST.get('quantity-available')
edit.New_quantity_inhand=request.POST.get('quantity-inhand')
edit.Quantity_adjusted=request.POST.get('quantity-adjusted')               
edit2.Status=request.POST.get('status')
edit2.Adjusting_date=request.POST.get('date')
edit3.Action='edited'                                                          
edit.save()
edit2.save()
edit3.save()
                            
return render(request,"zohomodules/stock_adjustment/adjustment_overview.html",context)