<script>
        function shareOnWhatsApp() {
            var modeOfAdjustment = document.getElementsByName('value1')[0].value;
            var referenceNumber = document.getElementsByName('value2')[0].value;
            var adjustingDate = document.getElementsByName('value3')[0].value;
            var account = document.getElementsByName('value4')[0].value;
            var reason = document.getElementsByName('value5')[0].value;

            // Get the current page URL
            var pageUrl = window.location.href;

            var message = "Page URL: " + pageUrl + "\n" +
                "Mode of Adjustment: " + modeOfAdjustment + "\n" +
                "Reference Number: " + referenceNumber + "\n" +
                "Adjusting Date: " + adjustingDate + "\n" +
                "Account: " + account + "\n" +
                "Reason: " + reason;

            // Encode the message for URL
            var whatsappUrl = "https://wa.me/?text=" + encodeURIComponent(message);
            window.open(whatsappUrl, '_blank');
        }
    </script>