{% extends 'overviewnavbar.html' %}
{% load static %}
{% block content %}
{% load social_share %}
<style>
    .white-divider {
        width: 2px;
        background-color: white;
        height: 100%;
        margin-right: 20px;
        margin-top: -405px;
    }

    .container.mt-3.p-4 {

        color: white;
        border: 2px solid white;
        border-radius: 8px;
        width: 600px;

    }

    @media screen and (max-width: 768px) {
        .container.mt-3.p-4 {

            width: 300px;


        }

        .print {
            margin-left: -200px;
        }

        .edit {
            margin-left: -130px;
            margin-top: -50px;
        }

        .whatsapp {
            margin-left: -60px;
            margin-top: -90px;
        }

        .email {
            margin-left: 10px;
            margin-top: -132px;
        }

        .delete {
            margin-left: 80px;
            margin-top: -174px;
        }

        .comment {
            margin-left: 150px;
            margin-top: -215px;
        }

        .history {
            margin-left: 220px;
            margin-top: -256px;
        }

        .values {
            margin-top: -100px;
        }

        
    }

   
</style>
<div class="col-md-7" style="background-color: black;">

    <div class="container mt-3 p-4">

        <div class="row mb-3">
            <div class="col-md-5 text-center">
                <div class="dropdown">
                    <button class="btn btn-outline-warning btn-sm dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Attach File
                    </button>
                    <ul class="dropdown-menu" style="background-color: black;">
                        <li>
                            {% if adjustment1.id %}
                            <a class="dropdown-item" href="{{ adjustment1.Attach_file.url }}"
                                download>
                                <button class="btn btn-warning text-black">Download File</button>
                            </a>
                            {% endif %}
                        </li>
                        <li class="dropdown-item">
                            <button type="button" class="btn btn-warning text-black " data-bs-toggle="modal"
                                data-bs-target="#fileModal">
                                Add File
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-warning" id="exampleModalLabel">Attach File:</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        {% if adjustment1.id %}
                        <form id="fileUploadForm" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body">
                                <label for="fileInput" style="color: white; font-weight: bold;">Upload Files</label>
                                <input type="file" name="file1" multiple class="form-control-file" id="fileInput">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger"
                                    data-bs-dismiss="modal">Close</button>
                                <button type="submit" id="attachBtn" class="btn btn-outline-warning">Attach</button>
                            </div>
                        </form>
                        <script>
                            $(document).ready(function () {
                                $("#attachBtn").click(function () {
                                    var form_data = new FormData($('#fileUploadForm')[0]);

                                    $.ajax({
                                        type: 'POST',
                                        url: '{% url "attach" adjustment1.id %}',
                                        data: form_data,
                                        processData: false,
                                        contentType: false,

                                        error: function (xhr, status, error) {
                                            // Handle error response, if needed
                                            console.log(error);
                                        }
                                    });
                                });
                            });
                        </script>
                        {% endif %}






                    </div>
                </div>
            </div>
            <div class="col-md-1 text-center">
                <button onclick="printContent()" class="btn btn-outline-warning btn-sm print" title="Print"><i
                        class="fas fa-print text-warning"></i> </button>
            </div>
            <div class="col-md-1 text-center">
                {% if adjustment1.id %}
                <a href="{% url 'stockedit' adjustment1.id %}">
                    {% endif %}
                    <button type="button" class="btn btn-outline-warning btn-sm edit" title="Edit"><i
                            class="fas fa-pencil-alt text-warning"></i></button>
                </a>
            </div>
            <div class="col-md-1 text-center">
                <button type="button" class="btn btn-outline-warning btn-sm whatsapp" onclick="shareOnWhatsApp()"
                    title="Whatsapp">
                    <i class="fab fa-whatsapp text-warning"></i>
                </button>
            </div>
            <div class="col-md-1 text-center">
                <button type="button" class="btn btn-outline-warning btn-sm email" data-bs-toggle="modal"
                    data-bs-target="#emailModal" title="Email">
                    <i class="fas fa-envelope text-warning"></i>
                </button>
            </div>

            <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h5 class="modal-title text-light" id="emailModalLabel">Send Email</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% if adjustment1.id %}
                        <form id="commentForm" method="post" action="{% url 'email' adjustment1.id %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="recipientEmail">Recipient's Email</label>
                                    <input type="email" name="email" class="form-control text-light" id="recipientEmail"
                                        placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="emailSubject">Subject</label>
                                    <input type="text" name="subject" class="form-control text-light" id="emailSubject"
                                        placeholder="Enter subject">
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" id="sendEmailBtn" class="btn btn-outline-warning"
                                    data-bs-dismiss="modal">Send</button>
                            </div>
                        </form>
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                $('#sendEmailBtn').click(function (e) {
                                    e.preventDefault(); // Prevent the default form submission

                                    // Collect form data
                                    var formData = $('#commentForm').serialize();

                                    // Send AJAX request
                                    $.ajax({
                                        type: 'POST',
                                        url: '{% url "email" adjustment1.id %}',
                                        data: formData,

                                        error: function (xhr, status, error) {
                                            // Handle error
                                            console.error(xhr.responseText);
                                        }
                                    });
                                });
                            });
                        </script>
                        {% endif %}

                    </div>
                </div>
            </div>



            <div class="col-md-1 text-center">
                {% if adjustment1.id %}
                <a href="{% url 'stockdelete' adjustment1.id %}">
                    {% endif %}
                    <button type="button" class="btn btn-outline-warning btn-sm delete" title="Delete"><i
                            class="fas fa-trash text-warning"></i>
                    </button>
                </a>
            </div>
            <div class="col-md-1 text-center">
                <button type="button" class="btn btn-outline-warning btn-sm comment" data-bs-toggle="modal"
                    data-bs-target="#commentModal" title="Comment">
                    <i class="fas fa-comment text-warning"></i>
                </button>
            </div>


            <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="commentModalLabel" style="color: white;">
                                <strong>Comments</strong>
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Display existing comments here -->
                            {% if adjustment1.id %}
                            <form id="commentForm" method="post" action="{% url 'add_comment' adjustment1.id %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="commentText" class="form-label" style="color: white;">Add
                                        Comment:</label>
                                    <textarea class="form-control" id="commentText" name="commentText" rows="3"
                                        style="color: white;"></textarea>
                                </div>
                                <button type="submit" id="addCommentBtn"
                                    class="btn btn-outline-warning btn-sm">Add</button>
                            </form>
                            {% endif %}
                            <div class="row" style="margin-top: 20px;">
                                <!-- Field 3 -->
                                <div class="col-md-6">
                                    <label for="field3" style="color: white;"><strong>Comments:</strong></label>
                                    <div class="row comments-section" style="margin-top: 20px;">
                                        <textarea class="form-control comment-item" style="color:white" readonly>
                                            {{adjustments.Comment}}
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>



            <script>
                $(document).ready(function () {
                    $('#addCommentBtn').on('click', function () {
                        var form = $('#commentForm');
                        $.ajax({
                            type: form.attr('method'),
                            url: form.attr('action'),
                            data: form.serialize(),
                            success: function (response) {
                                if (response.newComment) {
                                    // Handle the response, update comments section with new comment
                                    updateComments(response.newComment);
                                    $('#commentModal').modal('hide');
                                } else {
                                    // Handle error or other responses
                                }
                            },
                            error: function (xhr, status, error) {
                                // Handle errors
                            }
                        });
                    });

                    function updateComments(newComment) {
                        // Update the comments section with the new comment
                        var commentsSection = $('.comments-section');
                        var newCommentElement = $('<textarea class="form-control comment-item" style="color:white" readonly>' + newComment + '</textarea>');
                        commentsSection.append(newCommentElement);
                    }
                });

            </script>

            <div class="col-md-1 text-center">
                <button type="button" class="btn btn-outline-warning btn-sm history" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" title="history">
                    <i class="fas fa-history text-warning"></i>
                </button>
            </div>
            <script>
                const myModal = document.getElementById('exampleModal');
                const myInput = document.getElementById('myInput');

                myModal.addEventListener('shown.bs.modal', () => {
                    myInput.focus();
                });
            </script>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-light" id="exampleModalLabel"><strong>History</strong></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="text-warning">

                                        <th>Date</th>
                                        <th>Action</th>
                                        <th>By</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="text-light">

                                        <td>{{ adjustment3.Date }}</td>
                                        <td>{{ adjustment3.Action }}</td>
                                        <td>{{ adjustment3.login_details.username }}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="values" id="printableContent" style="background-color: white;border-radius: 25px;padding: 20px;">
            <div class="row" style="margin-left: 40px;">
                <div class="col-md-6" style="margin-top: 30px;color: black;">
                    <strong>Mode of Adjustment:</strong>
                    <input type="text" class="form-control" name="value1" id=""
                        value="{{ adjustment1.Mode_of_adjustment }}">

                </div>
                <div class="col-md-6" style="margin-top: 30px;color: black;">
                    <strong>Reference Number:</strong>
                    <input type="number" class="form-control" name="value2" id=""
                        value="{{ adjustment1.Reference_number }}">

                </div>
            </div>
            <div class="row mt-3" style="margin-left: 40px;">
                <div class="col-md-6" style="margin-top: 30px;color: black;">
                    <strong>Adjusting Date:</strong>
                    <input type="text" class="form-control" name="value3" id=""
                        value="{{ adjustment1.Adjusting_date }}">

                </div>
                <div class="col-md-6" style="margin-top: 30px;color: black;">
                    <strong>Account:</strong>
                    <input type="text" class="form-control" name="value4" id=""
                        value="{{ adjustment1.Account }}">

                </div>
            </div>
            <div class="row mt-3" style="margin-left: 40px;">
                <div class="col-md-6" style="margin-top: 30px;color: black;">
                    <strong>Reason:</strong>
                    <input type="text" class="form-control" name="value5" id=""
                        value="{{ adjustment1.Reason }}">

                </div>
                
                <a href="{% url 'send_whatsapp_message' %}" class="" target="_blank">{% post_to_whatsapp object_or_url "WhatsApp" %}</a>


            </div>
        </div>

        

        <script>
            function printContent() {
                var printContents = document.getElementById("printableContent").innerHTML;
                var originalContents = document.body.innerHTML;

                document.body.innerHTML = printContents;

                window.print();

                document.body.innerHTML = originalContents;
            }
        </script>
        <script>
            function shareOnWhatsApp() {
                var modeOfAdjustment = document.getElementsByName('value1')[0].value;
                var referenceNumber = document.getElementsByName('value2')[0].value;
                var adjustingDate = document.getElementsByName('value3')[0].value;
                var account = document.getElementsByName('value4')[0].value;
                var reason = document.getElementsByName('value5')[0].value;

                // Get the current page URL
                var pageUrl = window.location.href;

                var message = "Page URL: " + pageUrl + "\n" +
                    "Mode of Adjustment: " + modeOfAdjustment + "\n" +
                    "Reference Number: " + referenceNumber + "\n" +
                    "Adjusting Date: " + adjustingDate + "\n" +
                    "Account: " + account + "\n" +
                    "Reason: " + reason;

                // Encode the message for URL
                var whatsappUrl = "https://wa.me/?text=" + encodeURIComponent(message);
                window.open(whatsappUrl, '_blank');
            }
        </script>




    </div>


</div>

{% endblock %}