{% extends 'overviewnavbar.html' %}
{% load static %}
{% block content %}
<style>
    .white-divider {
        width: 2px;
        background-color: white;
        height: 100%;
        margin-right: 20px;
        margin-top: -405px;
    }

    .container.mt-3.p-4 {

        color: white;
        border: 2px solid white;
        border-radius: 8px;
        width: 600px;

    }

    @media screen and (max-width: 768px) {
        .container.mt-3.p-4 {

            width: 300px;

        }

        .col-md-1.text-center {
            flex-direction: row;
        }




    }
</style>
<div class="col-md-7" style="background-color: black;">

    <div class="container mt-3 p-4">

        <div class="row mb-3">
            <div class="col-md-5 text-center">
                <div class="dropdown">
                    <button class="btn btn-outline-warning btn-sm dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Attach File
                    </button>
                    <ul class="dropdown-menu" style="background-color: black;">
                        <li>
                            {% if adjustments.id %}
                            <a class="dropdown-item" href="{{ adjustments.inventory_adjustment.Attach_file.url }}"
                                download>
                                <button class="btn btn-warning text-black">Download File</button>
                            </a>
                            {% endif %}
                        </li>
                        <li class="dropdown-item">
                            <button type="button" class="btn btn-warning text-black " data-bs-toggle="modal"
                                data-bs-target="#fileModal">
                                Add File
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-warning" id="exampleModalLabel">Attach File:</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        {% if adjustments.id %}
                        <form id="fileUploadForm" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body">
                                <label for="fileInput" style="color: white; font-weight: bold;">Upload Files</label>
                                <input type="file" name="file1" multiple class="form-control-file" id="fileInput">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger"
                                    data-bs-dismiss="modal">Close</button>
                                <button type="submit" id="attachBtn" class="btn btn-outline-warning">Attach</button>
                            </div>
                        </form>
                        <script>
                            $(document).ready(function () {
                                $("#attachBtn").click(function () {
                                    var form_data = new FormData($('#fileUploadForm')[0]);

                                    $.ajax({
                                        type: 'POST',
                                        url: '{% url "attach" adjustments.id %}',
                                        data: form_data,
                                        processData: false,
                                        contentType: false,

                                        error: function (xhr, status, error) {
                                            // Handle error response, if needed
                                            console.log(error);
                                        }
                                    });
                                });
                            });
                        </script>
                        {% endif %}






                    </div>
                </div>
            </div>
            <div class="col-md-1 text-center">
                <button onclick="printContent()" class="btn btn-outline-warning btn-sm"><i
                        class="fas fa-print text-warning"></i> </button>
            </div>
            <div class="col-md-1 text-center">
                {% if adjustments.id %}
                <a href="{% url 'stockedit' adjustments.id %}">
                    {% endif %}
                    <button type="button" class="btn btn-outline-warning btn-sm"><i
                            class="fas fa-pencil-alt text-warning"></i></button>
                </a>
            </div>
            <div class="col-md-1 text-center">
                <button type="button" class="btn btn-outline-warning btn-sm" onclick="shareViaWhatsApp()">
                    <i class="fab fa-whatsapp text-warning"></i>
                </button>
            </div>
            <div class="col-md-1 text-center">
                <button type="button" class="btn btn-outline-warning btn-sm" data-bs-toggle="modal"
                    data-bs-target="#emailModal">
                    <i class="fas fa-envelope text-warning"></i>
                </button>
            </div>

            <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h5 class="modal-title text-light" id="emailModalLabel">Send Email</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% if adjustments.id %}
                        <form id="commentForm" method="post" action="{% url 'email' adjustments.id %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="recipientEmail">Recipient's Email</label>
                                    <input type="email" name="email" class="form-control text-light" id="recipientEmail"
                                        placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="emailSubject">Subject</label>
                                    <input type="text" name="subject" class="form-control text-light" id="emailSubject"
                                        placeholder="Enter subject">
                                </div>
                            </div>
                            <div class="modal-footer">
                                
                                <button type="button" id="sendEmailBtn" class="btn btn-outline-warning" data-bs-dismiss="modal">Send</button>
                            </div>
                        </form>
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                $('#sendEmailBtn').click(function (e) {
                                    e.preventDefault(); // Prevent the default form submission
            
                                    // Collect form data
                                    var formData = $('#commentForm').serialize();
            
                                    // Send AJAX request
                                    $.ajax({
                                        type: 'POST',
                                        url: '{% url "email" adjustments.id %}',
                                        data: formData,
                                        
                                        error: function (xhr, status, error) {
                                            // Handle error
                                            console.error(xhr.responseText);
                                        }
                                    });
                                });
                            });
                        </script>
                        {% endif %}

                    </div>
                </div>
            </div>

           


            <script>
                function sendEmail() {
                    var recipientEmail = document.getElementById('recipientEmail').value;
                    var subject = document.getElementById('emailSubject').value;
                    var body = encodeURIComponent("Mode of Adjustment: {{ adjustments.inventory_adjustment.Mode_of_adjustment }}\nReference Number: {{ adjustments.inventory_adjustment.Reference_number }}\nAdjusting Date: {{ adjustments.inventory_adjustment.Adjusting_date }}\nAccount: {{ adjustments.inventory_adjustment.Account }}\nReason: {{ adjustments.inventory_adjustment.Reason }}\nDescription: {{ adjustments.inventory_adjustment.Description }}\nStatus: {{ adjustments.inventory_adjustment.Status }}");
                    var emailURL = "mailto:" + recipientEmail + "?subject=" + subject + "&body=" + body;
                    window.location.href = emailURL;
                }
            </script>

            <script>
                // Function to share details via WhatsApp
                function shareViaWhatsApp() {
                    var text = encodeURIComponent("Mode of Adjustment: {{ adjustments.inventory_adjustment.Mode_of_adjustment }}\nReference Number: {{ adjustments.inventory_adjustment.Reference_number }}\nAdjusting Date: {{ adjustments.inventory_adjustment.Adjusting_date }}\nAccount: {{ adjustments.inventory_adjustment.Account }}\nReason: {{ adjustments.inventory_adjustment.Reason }}\nDescription: {{ adjustments.inventory_adjustment.Description }}\nStatus: {{ adjustments.inventory_adjustment.Status }}");
                    var whatsappURL = "https://api.whatsapp.com/send?text=" + text;
                    window.open(whatsappURL);
                }

                // Function to share details via email

            </script>

            <div class="col-md-1 text-center">
                {% if adjustments.id %}
                <a href="{% url 'stockdelete' adjustments.id %}">
                    {% endif %}
                    <button type="button" class="btn btn-outline-warning btn-sm"><i
                            class="fas fa-trash text-warning"></i>
                    </button>
                </a>
            </div>
            <div class="col-md-1 text-center">
                <button type="button" class="btn btn-outline-warning btn-sm" data-bs-toggle="modal"
                    data-bs-target="#commentModal">
                    <i class="fas fa-comment text-warning"></i>
                </button>
            </div>
            <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="commentModalLabel" style="color: white;">
                                <strong>Comments</strong>
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Display existing comments here -->

                            {% if adjustments.id %}
                            <form id="commentForm" method="post" action="{% url 'add_comment' adjustments.id %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="commentText" class="form-label" style="color: white;">Add
                                        Comment:</label>
                                    <textarea class="form-control" id="commentText" name="commentText" rows="3"
                                        style="color: white;"></textarea>
                                </div>
                                <button type="button" id="addCommentBtn"
                                    class="btn btn-outline-warning btn-sm">Add</button>
                            </form>
                            {% endif %}

                            <div class="row" style="margin-top: 20px;">
                                <!-- Field 3 -->
                                <div class="col-md-6">
                                    <label for="field3" style="color: white;"><strong>Comments:</strong></label>
                                    <div class="row comments-section" style="margin-top: 20px;">
                                        <textarea class="form-control comment-item" style="color:white" readonly>
                                            {{adjustments.Comment}}
                                        </textarea>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    $('#addCommentBtn').on('click', function () {
                        var form = $('#commentForm');
                        $.ajax({
                            type: form.attr('method'),
                            url: form.attr('action'),
                            data: form.serialize(),
                            success: function (response) {
                                if (response.newComment) {
                                    // Handle the response, update comments section with new comment
                                    updateComments(response.newComment);
                                    $('#commentModal').modal('hide');
                                } else {
                                    // Handle error or other responses
                                }
                            },
                            error: function (xhr, status, error) {
                                // Handle errors
                            }
                        });
                    });

                    function updateComments(newComment) {
                        // Update the comments section with the new comment
                        var commentsSection = $('.comments-section');
                        var newCommentElement = $('<textarea class="form-control comment-item" style="color:white" readonly>' + newComment + '</textarea>');
                        commentsSection.append(newCommentElement);
                    }
                });

            </script>

            <div class="col-md-1 text-center">
                <button type="button" class="btn btn-outline-warning btn-sm" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    <i class="fas fa-history text-warning"></i>
                </button>
            </div>
            <script>
                const myModal = document.getElementById('exampleModal');
                const myInput = document.getElementById('myInput');

                myModal.addEventListener('shown.bs.modal', () => {
                    myInput.focus();
                });
            </script>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-light" id="exampleModalLabel"><strong>History</strong></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="text-warning">

                                        <th>Date</th>
                                        <th>Action</th>
                                        <th>By</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="text-light">

                                        <td>{{ adjustment3.Date }}</td>
                                        <td>{{ adjustment3.Action }}</td>
                                        <td>{{ adjustment3.login_details.username }}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div id="printableContent" style="background-color: white;border-radius: 25px;padding: 20px;">
            <div class="row" style="margin-left: 40px;">
                <div class="col-md-6" style="margin-top: 30px;color: black;">
                    <strong>Mode of Adjustment:</strong>
                    <input type="text" class="form-control" name="value1" id=""
                        value="{{ adjustments.inventory_adjustment.Mode_of_adjustment }}">

                </div>
                <div class="col-md-6" style="margin-top: 30px;color: black;">
                    <strong>Reference Number:</strong>
                    <input type="number" class="form-control" name="value2" id=""
                        value="{{ adjustments.inventory_adjustment.Reference_number }}">

                </div>
            </div>
            <div class="row mt-3" style="margin-left: 40px;">
                <div class="col-md-6" style="margin-top: 30px;color: black;">
                    <strong>Adjusting Date:</strong>
                    <input type="text" class="form-control" name="value3" id=""
                        value="{{ adjustments.inventory_adjustment.Adjusting_date }}">

                </div>
                <div class="col-md-6" style="margin-top: 30px;color: black;">
                    <strong>Account:</strong>
                    <input type="text" class="form-control" name="value4" id=""
                        value="{{ adjustments.inventory_adjustment.Account }}">

                </div>
            </div>
            <div class="row mt-3" style="margin-left: 40px;">
                <div class="col-md-6" style="margin-top: 30px;color: black;">
                    <strong>Reason:</strong>
                    <input type="text" class="form-control" name="value5" id=""
                        value="{{ adjustments.inventory_adjustment.Reason }}">

                </div>

            </div>
        </div>

        <script>
            function printContent() {
                var printContents = document.getElementById("printableContent").innerHTML;
                var originalContents = document.body.innerHTML;

                document.body.innerHTML = printContents;

                window.print();

                document.body.innerHTML = originalContents;
            }
        </script>



    </div>


</div>

{% endblock %}