{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<style>
    .btn-warning {
        color: black;
    }

    .dropdown-heading {
        font-weight: bold;
        color: white;
        margin-bottom: 5px;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
</style>

<script>
    $(document).ready(function () {
        // Set today's date in the date field
        var today = new Date().toISOString().split('T')[0];
        $("#dateInput").val(today);
    });
</script>

<div class="body-wrapper">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'company_dashboard' %}"
                        class="text-warning-emphasis">Dashboard</a></li>
                <li class="breadcrumb-item" aria-current="page">Create adjustment</li>
            </ol>
        </nav>

        <!-- Responsive container for the content -->
        <div class="container mt-3" style="background-color: black;">
            <h1 style="color: white;" class="text-center">Create Adjustments</h1>
            <form action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <!-- Dropdown for adjustment type -->

                <div class="container mt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Make the dropdown responsive -->
                            <div class="dropdown">
                                <div class="dropdown-heading">
                                    Mode of Adjustment
                                </div>
                                <select class="form-control" onchange="window.location.href=this.value"
                                    style="background-color: white;width: 200px;">

                                    <option value="" style="color: black;" selected>Value adjustment</option>
                                    <option value="{% url 'create_adjustment' %}" style="color: black;">Quantity
                                        adjustment</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Reference Number field -->
                <div class="mt-3">
                    <label for="referenceNumberInput" style="color: white; font-weight: bold;">Reference Number</label>
                    <input type="text" class="form-control" id="referenceNumberInput"
                        style="width: 200px; color: white;">
                </div>

                <script>
                    $(document).ready(function () {
                        // Function to generate a serial number
                        function generateSerialNumber() {
                            // You can replace this with your logic to fetch the latest reference number from the server/database
                            // For now, let's assume a counter variable
                            var counter = 1;

                            // Update the reference number input field
                            $("#referenceNumberInput").val(counter);
                        }

                        // Call the function to generate the initial serial number
                        generateSerialNumber();

                        // Event handler for deletion or any other event triggering the need for a new serial number
                        // You may replace this with the actual event that requires updating the serial number
                        $("#deleteRecordButton").on("click", function () {
                            // Replace this with logic to handle deletion
                            // For now, let's assume the record is deleted
                            // Increment the counter and update the reference number
                            counter++;
                            generateSerialNumber();
                        });
                    });
                </script>

                <!-- Date field -->
                <div class="mt-3 row">
                    <div class="col-md-4">
                        <label for="dateInput" style="color: white; font-weight: bold;">Date</label>
                        <input type="date" class="form-control" id="dateInput" style="width: 150px; color: white;">
                    </div>
                    <div class="col-md-4">
                        <label for="accountsDropdown"
                            style="color: white; font-weight: bold; margin-left: 20px;">Accounts</label>
                        <select class="form-control" id="accountsDropdown" style="width: 150px; color: white;">
                            <option value="">Select Category</option>
                            {% for c in account %}
                            <option value="{{c.id}}" style="color: black;">{{c.account_name}}</option>
                            {% endfor %}

                            <!-- Add more options as needed -->
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="reasonDropdown"
                            style="color: white; font-weight: bold; margin-left: 20px;">Reason</label>
                        <div class="input-group">
                            <select class="form-control" id="reasonDropdown" style="width: 100px; color: white;">
                                <option value="reason1" style="color:black ;">High Demand Goods</option>
                                <option value="reason2" style="color:black ;">Stock Written Off</option>
                                <option value="reason2" style="color:black ;">Inventory Revaluation</option>
                                <option value="reason2" style="color:black ;">Stock on Fire</option>
                                <!-- Add more options as needed -->
                            </select>
                            <button type="button" class="btn btn-warning" id="addReasonBtn" style="color: white;"><i
                                    class="fas fa-plus"></i></button>
                        </div>
                    </div>

                    <script>
                        $(document).ready(function () {
                            // Add new reason on button click
                            $('#addReasonBtn').on('click', function () {
                                var newReason = prompt("Enter the new reason:");
                                if (newReason) {
                                    // Create a new option and append it to the dropdown
                                    $('#reasonDropdown').append($('<option>', {
                                        value: newReason,
                                        text: newReason
                                    }));
                                }
                            });
                        });
                    </script>

                    <div class="col-md-12 mt-3">
                        <label for="descriptionBox" style="color: white; font-weight: bold;">Description</label>
                        <textarea class="form-control" id="descriptionBox" style="width: 70%; color: white;"
                            rows="4"></textarea>
                    </div>


                    <div class="container mt-3" style="background-color: black;">
                        <div class="row">
                            <div class="col-md-10">
                                <!-- Make the table responsive -->
                                <div class="table-responsive">
                                    <!-- Table for item transactions -->
                                    <table class="table" id="itemTransactionsTable">
                                        <thead>
                                            <tr>
                                                <th style="color:white ;font-weight:bold;">#</th>
                                                <th style="color:white ;font-weight:bold;">Item</th>
                                                <th style="color:white ;font-weight:bold;">Current Value</th>
                                                <th style="color:white ;font-weight:bold;">Changed Value</th>
                                                <th style="color:white ;font-weight:bold;">Adjusted Value</th>
                                                <th style="color:white ;font-weight:bold;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Rows will be dynamically added here -->
                                            <tr>
                                                {% if item %}
                                                <td class="index">1</td>
                                                <td class="item-details">
                                                    <div class="dropdown">
                                                        <select class="form-control" onchange="navigateToUrl(this)"
                                                            style="background-color: white;">
                                                            <option value="" selected disabled>Select item</option>
                                                            {% for c in item %}
                                                            <option value="{{c.id}}"
                                                                data-url="{% url 'create_adjustment_itemvalue' c.id %}"
                                                                style="color: black;">
                                                                {{c.item_name}}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </td>

                                                <script>
                                                    function navigateToUrl(select) {
                                                        var selectedOption = select.options[select.selectedIndex];
                                                        if (selectedOption.value !== "") {
                                                            var url = selectedOption.getAttribute("data-url");
                                                            window.location.href = url;
                                                        }
                                                    }
                                                </script>
                                                <td class="quantity-available">
                                                    <input type="number" class="form-control" value="">
                                                </td>
                                                <td class="new-quantity">
                                                    <input type="number" class="form-control">
                                                </td>
                                                <td class="quantity-adjusted">
                                                    <input type="number" class="form-control">
                                                </td>
                                                <td>
                                                    <div class="col-md-1">
                                                        <button type="button" class="btn btn-danger remove-row"><i
                                                                class="fas fa-minus"></i></button>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <button type="button" class="btn btn-success add-row"><i
                                                                class="fas fa-plus"></i></button>
                                                    </div>
                                                </td>
                                                {% endif %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Bootstrap and Font Awesome scripts -->
                    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                    <script>
                        $(document).ready(function () {
                            // Add row
                            $(document).on("click", ".add-row", function () {
                                var index = $(".index").length + 1;
                                var newRow = '<tr>' +
                                    '<td class="index">' + index + '</td>' +
                                    '<td class="item-details">' +
                                    '<div class="dropdown">' +
                                    '<select class="form-control" onchange="window.location.href=this.value" style="background-color: white;width: 200px;">' +
                                    '<option value="" selected disabled>Select item</option>' +
                                    '{% for c in item %}' +
                                    '<option value="{{c.id}}" style="color: black;">{{c.item_name}}</option>' +
                                    '{% endfor %}' +
                                    '</select>' +
                                    '</div>' +
                                    '</td>' +
                                    '<td class="quantity-available"><input type="number" class="form-control"></td>' +
                                    '<td class="new-quantity"><input type="number" class="form-control"></td>' +
                                    '<td class="quantity-adjusted"><input type="number" class="form-control"></td>' +
                                    '<td>' +
                                    '<div class="col-md-1">' +
                                    '<button type="button" class="btn btn-danger remove-row"><i class="fas fa-minus"></i></button>' +
                                    '</div>' +
                                    '<div class="col-md-1">' +
                                    '<button type="button" class="btn btn-success add-row"><i class="fas fa-plus"></i></button>' +
                                    '</div>' +
                                    '</td>' +
                                    '</tr>';
                                $("#itemTransactionsTable tbody").append(newRow);
                            });

                            // Remove row
                            $(document).on("click", ".remove-row", function () {
                                $(this).closest("tr").remove();
                            });
                        });
                    </script>


                    <!-- JavaScript to handle dynamic row addition and removal -->

                </div>
                <div class="row mt-3">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary" id="saveBtn">Save</button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-warning" id="draftBtn">Draft</button>
                    </div>
                    <div class="col-md-2">
                        <a href="{% url 'items_list' %}"> <button type="button" class="btn btn-danger"
                                id="cancelBtn">Cancel</button></a>
                    </div>
                </div>

            </form>

            <!-- Other content goes here -->
        </div>
    </div>
</div>

{% endblock %}