{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-H+K7U5CnXl1zQDycExUcchX2AeLgDuU66JECGMW2FXE=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy7BikI5XDN+tdHsEDFou1fuqtqpi7ci1N"
    crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />


<style>
    .btn-warning {
        color: black;
    }

    .dropdown-heading {
        font-weight: bold;
        color: white;
        margin-bottom: 5px;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
    @media screen and (max-width: 768px) {
        .item-dropdown {

            width: 100px;
            
        }
        
    }
</style>

<script>
    $(document).ready(function () {
        // Set today's date in the date field
        var today = new Date().toISOString().split('T')[0];
        $("#dateInput").val(today);
    });
</script>

<div class="body-wrapper">
    
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'company_dashboard' %}"
                        class="text-warning-emphasis">Dashboard</a></li>
                <li class="breadcrumb-item" aria-current="page">Create adjustment</li>
            </ol>
        </nav>

        <!-- Responsive container for the content -->
        <div class="container mt-3" style="background-color: black;">
            <h1 style="color: white;" class="text-center text-warning"><strong>Create Adjustments:</strong></h1>
            <form action="{% url 'quantity'  %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}

                <!-- Dropdown for adjustment type -->
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Make the dropdown responsive -->
                            <div class="dropdown">
                                <div class="dropdown-heading text-warning">
                                    Mode of Adjustment*
                                </div>
                                <select class="form-control" name="mode1" onchange="window.location.href=this.value"
                                    style="background-color: white;width: 200px;">

                                    <option value="Quantity adjustment" style="color: black;" selected>Quantity
                                        adjustment</option>
                                    <option value="{% url 'create_adjustment_value' %}" style="color: black;">Value
                                        adjustment</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>




                <!-- Reference Number field -->
                <div class="mt-3">
                    <label for="referenceNumberInput" class="text-warning" style="font-weight: bold;">Reference Number</label>
                    <input type="text" name="ref1" class="form-control" id="referenceNumberInput"
                        style="width: 200px; color: white;">
                </div>



                <!-- Date field -->
                <div class="mt-3 row">
                    <div class="col-md-3">
                        <label for="dateInput" class="text-warning" style=" font-weight: bold;">Date*</label>
                        <input type="date" class="form-control" name="date1" id="dateInput"
                            style="width: 150px; color: white;">
                    </div>

                    <div class="col-md-3">
                        <label for="accountsDropdown" class="text-warning"
                            style="font-weight: bold; margin-left: 20px;margin-top: 30px;">Accounts*</label>
                        <select class="form-control select2" name="account1" id="accountsDropdown"
                            style="width: 150px; color: white;">
                            <option value="">Select Category</option>
                            {% for c in account %}
                            <option value="{{c.id}}" style="color: black;">{{c.account_name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="reasonDropdown" class="text-warning"
                            style="font-weight: bold; margin-left: 20px;">Reason*</label>
                        <div class="input-group">
                            <select class="form-control" name="reason1" id="reasonDropdown"
                                style="width: 100px; color: black;background-color: white;">
                                <option value="High Demand Goods" style="color:black ;">High Demand Goods</option>
                                <option value="Stock Written Off" style="color:black ;">Stock Written Off</option>
                                <option value="Inventory Revaluation" style="color:black ;">Inventory Revaluation
                                </option>
                                <option value="Stock on Fire" style="color:black ;">Stock on Fire</option>
                                <!-- Add more options as needed -->
                            </select>
                            <button type="button" class="btn btn-warning" id="addReasonBtn" style="color: white;"><i
                                    class="fas fa-plus"></i></button>
                        </div>
                    </div>

                    <script>
                        $(document).ready(function () {
                            // Add new reason on button click
                            $('#addReasonBtn').on('click', function () {
                                var newReason = prompt("Enter the new reason:");
                                if (newReason) {
                                    // Create a new option and append it to the dropdown
                                    $('#reasonDropdown').append($('<option>', {
                                        value: newReason,
                                        text: newReason
                                    }));
                                }
                            });
                        });
                    </script>

                </div>

                <div class="col-md-12 mt-3">
                    <label for="descriptionBox" class="text-warning" style="font-weight: bold;">Description</label>
                    <textarea class="form-control" name="desc1" id="descriptionBox" style="width: 70%; color: white;"
                        rows="4"></textarea>
                </div>


                <div class="container mt-3" style="background-color: black;">
                    <div class="row">
                        <div class="col-md-10">
                            <!-- Make the table responsive -->
                            <div class="table-responsive">
                                <!-- Table for item transactions -->
                                <table class="table" id="itemTransactionsTable">
                                    <thead>
                                        <tr>
                                            <th class="text-warning" style="font-weight:bold;">#</th>
                                            <th class="text-warning" style="font-weight:bold;">Item*</th>
                                            <th class="text-warning" style="font-weight:bold;">Quantity Available</th>
                                            <th class="text-warning" style="font-weight:bold;">New Quantity on Hand</th>
                                            <th class="text-warning" style="font-weight:bold;">Quantity Adjusted</th>
                                            <th class="text-warning" style="font-weight:bold;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>

                                            <td class="index">1</td>
                                            <td class="item-details">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="dropdown">
                                                            <select class="form-control item-dropdown select2"
                                                                name="item1" style="background-color: white;"
                                                                id="itemDropdown">
                                                                <option value="" selected disabled>Select item</option>
                                                                {% for c in item %}
                                                                <option value="{{c.id}}" style="color: black;">
                                                                    {{c.item_name}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-4">
                                                        <button type="button" class="btn btn-warning"
                                                            data-bs-toggle="modal" data-bs-target="#itemModal"
                                                            style="color: white;margin-left: -16px;"><i
                                                                class="fas fa-plus"></i></button>
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="quantity-available">
                                                <input type="number" name="current_stock"
                                                    class="form-control item-quantity" value="" style="color: white;">
                                            </td>
                                            <td class="new-quantity">
                                                <input type="number" name="new-quantity" class="form-control"
                                                    id="newQuantity" oninput="updateQuantityAdjusted()"
                                                    style="color: white;">
                                            </td>
                                            <td class="quantity-adjusted">
                                                <input type="number" name="quantity-adjusted" class="form-control"
                                                    id="quantityAdjusted" style="color: white;">
                                            </td>
                                            <td>
                                                <div class="col-md-1">
                                                    <button type="button" class="btn btn-danger remove-row"><i
                                                            class="fas fa-minus"></i></button>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-success add-row"><i
                                            class="fas fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        $('.item-dropdown').on('change', function () {
                            var selectedOption = $(this).find(':selected');
                            var itemId = selectedOption.val();
                            var quantityAvailableField = $(this).closest('tr').find('.item-quantity');

                            $.ajax({
                                type: "GET",
                                url: "{% url 'get_item_stock' %}",
                                data: { id: itemId },
                            }).done(function (response) {
                                // Update the quantity-available input field with the current stock
                                quantityAvailableField.val(response.stock);
                            });
                        });
                    </script>

                    <script>
                        $(document).ready(function () {
                            $('.select2').select2();
                        })
                      
                    </script>

                    <script>

                        $(document).ready(function () {


                            // Function to update quantity adjusted
                            function updateQuantityAdjusted(row) {
                                var quantityAvailable = parseInt(row.find('.item-quantity').val());
                                var newQuantity = parseInt(row.find('.new-quantity input').val());
                                var quantityAdjusted = isNaN(newQuantity) ? 0 : newQuantity - quantityAvailable;
                                row.find('.quantity-adjusted input').val(quantityAdjusted);
                            }


                            // Event listener for dynamically added rows
                            $('tbody').on('change', '.item-dropdown', function () {
                                var selectedOption = $(this).find(':selected');
                                var itemId = selectedOption.val();
                                var quantityAvailableField = $(this).closest('tr').find('.item-quantity');

                                $.ajax({
                                    type: "GET",
                                    url: "{% url 'get_item_stock' %}",
                                    data: { id: itemId },
                                }).done(function (response) {
                                    // Update the quantity-available input field with the current stock
                                    quantityAvailableField.val(response.stock);
                                });
                            });

                            // Add Row Function
                           

                           

                            // Remove Row Function
                            $("tbody").on("click", ".remove-row", function () {
                                $(this).closest("tr").remove();
                            });

                            // Update quantity adjusted when input changes
                            $("tbody").on("input", ".new-quantity input", function () {
                                var row = $(this).closest('tr');
                                updateQuantityAdjusted(row);
                            });


                        });
                        $(".add-row").click(function () {
                                // Get the index of the last row and add 1 to it
                                var lastIndex = parseInt($('tbody tr:last .index').text());
                                var newIndex = isNaN(lastIndex) ? 1 : lastIndex + 1;
                                var newRow = `<tr>
                                <td class="index">${newIndex}</td>
                                <td class="item-details">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="dropdown">
                                                <select  class="form-control item-dropdown select3"
                                                    name="item1" style="background-color: white;"
                                                    id="itemDropdown${newIndex}">
                                                    <option value="" selected disabled>Select item</option>
                                                    {% for c in item %}
                                                    <option value="{{c.id}}" style="color: black;">
                                                        {{c.item_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-warning"
                                                data-bs-toggle="modal" data-bs-target="#itemModal"
                                                style="color: white;margin-left: -16px;"><i
                                                    class="fas fa-plus"></i></button>
                                        </div>
                                    </div>
                                </td>
                                <td class="quantity-available">
                                    <input type="number" name="current_stock"
                                        class="form-control item-quantity" value="" style="color: white;">
                                </td>
                                <td class="new-quantity">
                                    <input type="number" name="new-quantity" class="form-control"
                                        style="color: white;">
                                </td>
                                <td class="quantity-adjusted">
                                    <input type="number" name="quantity-adjusted" class="form-control"
                                        style="color: white;">
                                </td>
                                <td>
                                    <div class="col-md-1">
                                        <button type="button" class="btn btn-danger remove-row"><i
                                                class="fas fa-minus"></i></button>
                                    </div>
                                </td>
                            </tr>`;
                                $("tbody").append(newRow);
                                
                                $(`#itemDropdown${newIndex}`).select2();

                              
                                  // Initialize select2 for the newly added row
                            });
                       

                    </script>






                    <script>

                        function updateQuantityAdjusted() {
                            var quantityAvailable = parseInt(document.getElementById("itemTransactionsTable").rows[1].cells[2].children[0].value);
                            var newQuantity = parseInt(document.getElementById("newQuantity").value);
                            var quantityAdjusted = isNaN(newQuantity) ? 0 : newQuantity - quantityAvailable;
                            document.getElementById("quantityAdjusted").value = quantityAdjusted;
                        }
                    </script>



                    <div class="mt-3">
                        <label for="fileInput" class="text-warning" style="font-weight: bold;">Upload Files*</label>
                        <input type="file" name="file1" multiple class="form-control-file" id="fileInput">
                    </div>









                    <div class="row mt-3">
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary" name="save" id="saveBtn">Save</button>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-warning" name="draft" id="draftBtn">Draft</button>
                        </div>
                        <div class="col-md-2">
                            <a href="{% url 'items_list' %}"> <button type="button" class="btn btn-danger"
                                    id="cancelBtn">Cancel</button></a>
                        </div>
                    </div>

            </form>

            <div class="modal fade" id="itemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">Add
                                Item:</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="addItemForm" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body">
                                <label for="newItemName" class="text-light">Item Name:</label>
                                <input type="text" id="newItemName" name="items" class="form-control">
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-outline-warning" data-bs-dismiss="modal">Add
                                    Item</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('#addItemForm').submit(function (event) {
                        event.preventDefault(); // Prevent the default form submission

                        var formData = new FormData(this);

                        $.ajax({
                            url: "{% url 'itemadd' %}",
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                // Handle success response
                                if (data.success) {
                                    // Append the new item to the dropdown
                                    $('.item-dropdown').append($('<option>', {
                                        value: data.item_id,
                                        text: data.item_name,
                                        style: 'color: black;'
                                    }));
                                    // Optional: Select the newly added item
                                    $('.item-dropdown').val(data.item_id);
                                } else {
                                    alert("Error adding item");
                                }
                            },
                            error: function (xhr, status, error) {
                                // Handle error response
                                console.error(xhr.responseText);
                                alert("Error adding item");
                            }
                        });
                    });
                });
            </script>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" ></script>
</div>


{% endblock %}