{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<style>
    .message-container {
        position: relative;
        display: inline-block;
    }

    .message-icon {
        cursor: pointer;
        font-size: 18px;
        margin-right: 5px;
    }

    .message-content {
        display: none;
        position: absolute;
        top: -30px;
        /* Adjust the distance above the icon */
        left: 0;
        background-color: #f9f9f9;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .message-container:hover .message-content {
        display: block;
    }
</style>

<div class="body-wrapper">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'company_dashboard' %}"
                        class="text-warning-emphasis">Dashboard</a></li>
                <li class="breadcrumb-item" aria-current="page">Stock adjustment</li>
            </ol>
        </nav>

        <!-- Responsive container for the content -->
        <div class="container mt-3" style="background-color: black;">
            <h1 style="color: white;">Adjustments</h1>
            <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center mb-3">
                <div class="input-group mb-2 mb-md-0" style="max-width: 300px;">
                    <input type="text" class="form-control" id="myInput" onkeyup="filterTable()" placeholder="Search..."
                        aria-label="Search" aria-describedby="basic-addon2"
                        style="background-color: white; border-radius: 10px;">

                    <!-- Dropdown for sorting -->


                    <div class="dropdown">
                        <button class="btn btn-outline-warning dropdown-toggle" type="button" id="sortDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-sort text-warning"></i> Sort
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                            <li><a class="dropdown-item" href="#" style="color: black;" data-sort="all">All</a></li>
                            <li><a class="dropdown-item" href="#" style="color: black;"
                                    onclick="sortTable('sort-reason')" data-sort="date">Reason</a></li>
                            <li><a class="dropdown-item" href="#" style="color: black;"
                                    data-sort="reference_number">Reference Number</a></li>
                        </ul>
                    </div>


                </div>

                <!-- Buttons aligned to the right -->
                <div class="d-flex flex-column flex-md-row align-items-md-center">
                    <!-- Use flex classes for responsiveness -->
                    <a href="{% url 'export_to_excel' %}" class="text-decoration-none mb-2 mb-md-0">
                        <button class="btn btn-outline-warning">
                            <i class="fas fa-sign-out-alt text-warning"></i> Export
                        </button>
                    </a>
                    <form method="post" enctype="multipart/form-data" action="{% url 'import_from_excel' %}"
                        class="mb-2 mb-md-0">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-warning">
                            <i class="fas fa-sign-in-alt text-warning"></i> Import
                        </button>
                    </form>
                    <div class="dropdown">
                        <button class="btn btn-outline-warning mb-2 mb-md-0 dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-filter text-warning"></i> Filter
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" style="color: black;" data-status="all">All</a></li>
                            <li><a class="dropdown-item" href="#" style="color: black;" data-status="adjusted">Save</a></li>
                            <li><a class="dropdown-item" href="#" style="color: black;" data-status="draft">Draft</a></li>
                        </ul>
                    </div>
                    <a href="{% url 'create_adjustment' %}" class="text-decoration-none">
                        <button class="btn btn-outline-warning">
                            <i class="fas fa-plus text-warning"></i> Add
                        </button>
                    </a>
                </div>
            </div>



            <div class="table-responsive">
                <table class="table align-middle mb-0 " style="background-color: black; color: white;">
                    <thead class="bg-black text-light">
                        <tr>
                            <th scope="col" id="sort-sl">Sl.No</th>
                            <th scope="col" id="sort-date">Date</th>
                            <th scope="col" id="sort-reason" >Reason</th>
                            <th scope="col" id="sort-description">Description</th>
                            <th scope="col" id="sort-refno">Ref.No</th>
                            <th scope="col" id="sort-type">Type</th>
                            <th scope="col" id="sort-status">Status</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: black;">
                        {% for s in adjustment1 %}

                        <tr data-status="{{s.Status | lower}}">
                            <td><a href="{% url 'adjustment_overview' %}" style="color: white;">{{forloop.counter}}</a>
                            </td>
                            <td><a href="{% url 'adjustment_overview' %}" style="color: white;">{{s.Adjusting_date}}</a>
                            </td>
                            <td><a href="{% url 'adjustment_overview' %}" style="color: white;">{{s.Reason}}</a></td>
                            <td>
                                <div class="message-container">
                                    <span class="message-icon"><i class="fas fa-comment text-warning"></i></span>
                                    <div class="message-content">
                                        <a href="{% url 'adjustment_overview' %}">{{s.Description}}</a>
                                    </div>
                                </div>
                            </td>
                            <td><a href="{% url 'adjustment_overview' %}"
                                    style="color: white;">{{s.Reference_number}}</a></td>
                            <td><a href="{% url 'adjustment_overview' %}"
                                    style="color: white;">{{s.Mode_of_adjustment}}</a></td>
                            <td><a href="{% url 'adjustment_overview' %}" style="color: white;">{{s.Status}}</a></td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
            

            


            


            <script>
                function filterTable() {
                    var input, filter, table, tr, td, i, j, txtValue;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    table = document.querySelector(".table"); // Assuming your table has the 'table' class
                    tr = table.getElementsByTagName("tr");

                    for (i = 0; i < tr.length; i++) {
                        var found = false;
                        for (j = 0; j < tr[i].cells.length; j++) {
                            td = tr[i].cells[j];
                            if (td) {
                                txtValue = td.textContent || td.innerText;
                                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    found = true;
                                    break;  // Break the inner loop if a match is found in any column
                                }
                            }
                        }
                        tr[i].style.display = found ? "" : "none";
                    }
                }
            </script>
        </div>
    </div>
</div>

{% endblock %}