{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<style>
    .message-container {
        position: relative;
        display: inline-block;
    }

    .message-icon {
        cursor: pointer;
        font-size: 18px;
        margin-right: 5px;
    }

    .message-content {
        display: none;
        position: absolute;
        top: -30px;
        /* Adjust the distance above the icon */
        left: 0;
        background-color: #f9f9f9;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .message-container:hover .message-content {
        display: block;
    }
</style>

<div class="body-wrapper">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'company_dashboard' %}"
                        class="text-warning-emphasis">Dashboard</a></li>
                <li class="breadcrumb-item" aria-current="page">Stock adjustment</li>
            </ol>
        </nav>

        <!-- Responsive container for the content -->
        <div class="container mt-3" style="background-color: black;">
            <h1 style="color: white;">Adjustments</h1>
            <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center mb-3">
                <div class="input-group mb-2 mb-md-0" style="max-width: 300px;">
                    <input type="text" class="form-control" id="myInput" onkeyup="filterTable()" placeholder="Search..."
                        aria-label="Search" aria-describedby="basic-addon2"
                        style="background-color: white; border-radius: 10px;">

                    <!-- Dropdown for sorting -->


                    <div class="dropdown">
                        <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fas fa-sort text-warning"></i> Sort
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                            <li><a class="dropdown-item" href="#" style="color: black;" onclick="resetTable()">All</a>
                            </li>
                            <li><a class="dropdown-item" href="#" style="color: black;"
                                    onclick="sortTable('sort-reason')">Reason</a></li>
                            <li><a class="dropdown-item" href="#" style="color: black;"
                                    onclick="sortTable('sort-refno')">Reference Number</a></li>
                        </ul>
                    </div>


                </div>

                <!-- Buttons aligned to the right -->
                <div class="d-flex flex-column flex-md-row align-items-md-center">
                    <!-- Use flex classes for responsiveness -->

                    <button class="btn btn-outline-warning" id="btn-export">
                        <i class="fas fa-sign-out-alt text-warning"></i> Export
                    </button>



                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                        data-bs-target="#importModal">
                        <i class="fas fa-sign-in-alt text-warning"></i> Import
                    </button>

                    <div class="modal fade" id="importModal" tabindex="-1" role="dialog"
                        aria-labelledby="importModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content bg-dark">
                                <div class="modal-header">
                                    <h5 class="modal-title text-light" id="importModalLabel">Import Data</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input type="file" id="file-input">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <script src="xlsx.min.js"></script>
                    <script>
                        // Function to handle file selection
                        document.getElementById('file-input').addEventListener('change', function (e) {
                            var file = e.target.files[0];
                            var reader = new FileReader();

                            reader.onload = function (e) {
                                var data = new Uint8Array(e.target.result);
                                var workbook = XLSX.read(data, { type: 'array' });

                                // Assuming the first sheet contains the data
                                var sheet = workbook.Sheets[workbook.SheetNames[0]];

                                // Convert sheet data to JSON
                                var jsonData = XLSX.utils.sheet_to_json(sheet);

                                // Update the table with the Excel data
                                updateTable(jsonData);
                            };

                            reader.readAsArrayBuffer(file);
                        });

                        // Function to update the table with Excel data
                        function updateTable(data) {
                            var table = document.getElementById('my-table').getElementsByTagName('tbody')[0];

                            // Clear existing table rows
                            table.innerHTML = '';

                            // Populate table with Excel data
                            data.forEach(function (row) {
                                var newRow = table.insertRow(table.rows.length);
                                Object.values(row).forEach(function (value) {
                                    var cell = newRow.insertCell();
                                    cell.appendChild(document.createTextNode(value));
                                });
                            });
                        }
                    </script>

                    <div class="dropdown">
                        <button class="btn btn-outline-warning mb-2 mb-md-0 dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-filter text-warning"></i> Filter
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" style="color: black;"
                                    onclick="filterByStatus('all')">All</a></li>
                            <li><a class="dropdown-item" href="#" style="color: black;"
                                    onclick="filterByStatus('adjusted')">Save</a></li>
                            <li><a class="dropdown-item" href="#" style="color: black;"
                                    onclick="filterByStatus('draft')">Draft</a></li>
                        </ul>
                    </div>
                    <a href="{% url 'create_adjustment' %}" class="text-decoration-none">
                        <button class="btn btn-outline-warning">
                            <i class="fas fa-plus text-warning"></i> Add
                        </button>
                    </a>
                </div>
            </div>



            <div class="table-responsive">
                <table id="my-table" class="table align-middle mb-0 " style="background-color: black; color: white;">
                    <thead class="bg-black text-light">
                        <tr>
                            <th scope="col" id="sort-sl">Sl.No</th>
                            <th scope="col" id="sort-date">Date</th>
                            <th scope="col" id="sort-reason">Reason</th>
                            <th scope="col" id="sort-description">Description</th>
                            <th scope="col" id="sort-refno">Ref.No</th>
                            <th scope="col" id="sort-type">Type</th>
                            <th scope="col" id="sort-status">Status</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: black;" id="table-body">
                        {% for s in adjustment1 %}

                        <tr>
                            <td><a href="{% url 'adjustment_overview' %}" style="color: white;">{{forloop.counter}}</a>
                            </td>
                            <td><a href="{% url 'adjustment_overview' %}" style="color: white;">{{s.Adjusting_date}}</a>
                            </td>
                            <td><a href="{% url 'adjustment_overview' %}" style="color: white;">{{s.Reason}}</a></td>
                            <td>
                                <div class="message-container">
                                    <span class="message-icon"><i class="fas fa-comment text-warning"></i></span>
                                    <div class="message-content">
                                        <a href="{% url 'adjustment_overview' %}">{{s.Description}}</a>
                                    </div>
                                </div>
                            </td>
                            <td><a href="{% url 'adjustment_overview' %}"
                                    style="color: white;">{{s.Reference_number}}</a></td>
                            <td><a href="{% url 'adjustment_overview' %}"
                                    style="color: white;">{{s.Mode_of_adjustment}}</a></td>
                            <td><a href="{% url 'adjustment_overview' %}" style="color: white;">{{s.Status}}</a></td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>

                <script src="https://cdn.sheetjs.com/xlsx-0.19.3/package/dist/xlsx.full.min.js"></script>

                <script>
                    const exportButton = document.getElementById('btn-export');

                    const table = document.getElementById('my-table');

                    exportButton.addEventListener('click', () => {
                        /* Create worksheet from HTML DOM TABLE */
                        const wb = XLSX.utils.table_to_book(table, { sheet: 'sheet-1' });

                        /* Export to file (start a download) */
                        XLSX.writeFile(wb, 'MyTable.xlsx');
                    });

                </script>
            </div>



            <script>
                var originalOrder = Array.from(document.querySelectorAll('.table tbody tr'));

                function sortTable(columnId) {
                    var table, rows, switching, i, x, y, shouldSwitch;
                    table = document.querySelector(".table");
                    switching = true;
                    columnIndex = document.getElementById(columnId).cellIndex;

                    while (switching) {
                        switching = false;
                        rows = table.rows;

                        for (i = 1; i < rows.length - 1; i++) {
                            shouldSwitch = false;
                            x = rows[i].getElementsByTagName("TD")[columnIndex];
                            y = rows[i + 1].getElementsByTagName("TD")[columnIndex];

                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                shouldSwitch = true;
                                break;
                            }
                        }

                        if (shouldSwitch) {
                            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                            switching = true;
                        }
                    }
                }

                function resetTable() {
                    var table = document.querySelector('.table tbody');
                    table.innerHTML = '';
                    originalOrder.forEach(function (row) {
                        table.appendChild(row);
                    });
                }
            </script>


            <script>
                function filterByStatus(status) {
                    var table, tr, i;
                    table = document.querySelector(".table");
                    tr = table.querySelectorAll("tbody tr");
                    for (i = 0; i < tr.length; i++) {
                        if (status === 'all') {
                            tr[i].style.display = "";
                        } else {
                            var td = tr[i].querySelector("td:last-child"); // Assuming the status is in the last column
                            var statusValue = td ? (td.textContent || td.innerText).toLowerCase() : '';
                            if (statusValue === status.toLowerCase()) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            </script>








            <script>
                function filterTable() {
                    var input, filter, table, tr, td, i, j, txtValue;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    table = document.querySelector(".table"); // Assuming your table has the 'table' class
                    tr = table.getElementsByTagName("tr");

                    for (i = 0; i < tr.length; i++) {
                        var found = false;
                        for (j = 0; j < tr[i].cells.length; j++) {
                            td = tr[i].cells[j];
                            if (td) {
                                txtValue = td.textContent || td.innerText;
                                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    found = true;
                                    break;  // Break the inner loop if a match is found in any column
                                }
                            }
                        }
                        tr[i].style.display = found ? "" : "none";
                    }
                }
            </script>
        </div>
    </div>
</div>

{% endblock %}